---
import Layout from '../layouts/Layout.astro';
import { GetProducts } from '../api/api';

const { page = 1 } = Astro.params;
const productsResponse = await GetProducts(Number(page));
const products = productsResponse.data;
const total = productsResponse.total;
const PRODUCTS_PER_PAGE = 20;
const totalPages = Math.ceil(total / PRODUCTS_PER_PAGE);
---

<Layout title='Animalhada Admin'>
  <body>
    <h1>Lista de Productos</h1>

    <ul>
      {products.map(product => (
        <li id={String(product.id)}>
          <h2>{product.name}</h2>
          <p>{product.description}</p>
          <p>Precio: {product.price && product.price.toLocaleString('es-ES', { minimumFractionDigits: 2, maximumFractionDigits: 2 })}€</p>
          {product.img_url && <img src={product.img_url} alt={product.name} />}
          <p>Categorías: {product.category && product.category.join(', ')}</p>
        </li>
      ))}
    </ul>

    <div>
      {Number(page) > 1 && <a href={`?page=${Number(page) - 1}`}>Anterior</a>}
      <span>Página {page} de {totalPages}</span>
      {Number(page) < totalPages && <a href={`?page=${Number(page) + 1}`}>Siguiente</a>}
    </div>
  </body>
</Layout>
